.background {
    background-image: url("../images/footer-bg.jpg");
    display: flex;
    padding: 12px 36px;
    .list {
        display: flex;
        width: 600px;
        justify-content: space-between;
        ul {
            list-style: none;
            margin-bottom: 24px;
            li {
                &:first-child {
                    font-weight: bold;
                }
            }
        }

    }
}
