.blue {
  background-color: #0282f9;
  font-size: 10px;
  color: white;
  font-weight: bold;
  text-align: right;
  padding-right: 24px;
}

.blue span {
  vertical-align: top;
}

.blue .litle {
  font-size: 6px;
}

.blue .last {
  margin-left: 24px;
}

.back-nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.back-nav .logo {
  height: 50px;
  width: 120px;
}

.back-nav .logo img {
  height: 100%;
}

.back-nav ul {
  list-style: none;
  display: flex;
  margin-right: 12px;
}

.back-nav ul li {
  margin-right: 12px;
}

a.blue-text {
  color: #0282f9;
  text-decoration: none;
}

.background {
  height: 450px;
  background: url("/../images/footer-bg.jpg");
  display: flex;
  padding: 24px 36px;
  overflow: hidden;
}

.background .list {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.background .list ul {
  list-style: none;
  margin-bottom: 24px;
}

.background .list ul li {
  margin-bottom: 6px;
}

.background .list ul li a {
  color: #666;
  text-decoration: none;
}

.background .list ul li:first-child {
  color: white;
  font-weight: bold;
  margin-bottom: 12px;
}

.background span {
  color: #666;
}

.background .logo-footer {
  height: 100%;
  width: 600px;
  position: relative;
}

.background .logo-footer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social {
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  align-items: center;
}

.social button {
  background-color: transparent;
  border: 2px solid #0282f9;
  color: white;
  padding: 12px;
}

.social .link-social {
  display: flex;
  align-items: center;
}

.social .link-social img {
  margin-left: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

